* {
  margin: 0px;
  padding: 0px;
}

#header {
  height: 80px;
  width: 100%;
  display: inline-block;
  position: fixed;
  background-color: white;
  opacity: 1;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #d8d8d8;
}

#logo {
  float: left;
  margin: 20px 25px;
}

#search-bar {
  width: 750px;
  height: 48px;
  background-color: #f3f3f3;
  color: #d8d8d8;
  float: left;
  margin: 15px 25px;
  border-style: none;
  border-radius: 5px;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
}

#navBar {
  list-style-type: none;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  margin: 15px 25px;
}

#navigationBar {
  display: inline-block;
}

#navBar li {
  margin: 20px 10px;
}

ul,
li {
  display: inline-block;
}

li > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

li > a:hover {
  color: gray;
}
#social-media-links {
  display: inline-block;
}
#social-media-links a img {
  width: 15px;
  height: 15px;
  padding-left: 7px;
  border-radius: 15px;
  margin-top: 15px;
}
#secondDiv {
  /* position: absolute; */
  margin-top: 30px;
  top: 80px;
  width: 100%;
  margin-bottom: 20px;
}

#leftSide {
  background-color: black;
  color: white;
  width: 50%;
  height: 400px;
  float: left;
}

#rightSide {
  width: 50%;
  float: left;
}

#heroBg {
  width: 100%;
  height: 400px;
  background-size: cover;
  display: inline-block;
}

#headingIntro {
  text-align: left;
  font-size: 54px;
  padding-top: 80px;
}

#paragraphIntro {
  padding-top: 10px;
}

.left {
  padding-left: 160px;
  font-family: Helvetica, sans-serif;
}

.afterFloat {
  clear: both;
}

#categoriesSection {
  /* margin-top: 80px; */
  margin: 80px 20px 30px;
  padding: 0px 140px;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  color: #333;
}

.firstRow,
.films {
  display: inline-block;
  margin: 8px 2px;
  position: relative;
}

.firstRow img,
.secondRow img,
.latest img,
.films img {
  border-radius: 4px;
}

.firstRow h3 {
  padding: 53px 52px;
  font-size: 16px;
}

.firstRow h3,
.secondRow h3,
.films h3,
.latest h3 {
  color: #fff;
  position: absolute;
  font-family: Helvetica, sans-serif;
  letter-spacing: 3px;
}

.secondRow {
  display: inline-block;
  margin: 2px;
  position: relative;
}

.secondRow h3 {
  padding: 100px 170px;
  font-size: 16px;
}

#browseSection {
  margin: 70px 20px 30px;
  padding: 0px 140px;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: #333;
}

#browseSection h2 {
  margin: 10px 10px 15px;
}

.browseBy {
  font-size: 14px;
  display: inline-block;
  padding: 10px 15px 20px;
}

#loc,
#tags {
  color: #333;
}

#latest {
  color: black;
}

#browseSection,
#featuring {
  margin: 80px 20px 30px;
  padding: 0px 140px;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  /* color: #333; */
}

#browseByLatest {
  margin: 35px 0px;
}

.latest {
  display: inline-block;
  position: relative;
  margin: 8px 3px;
}

.latest h3 {
  font-size: 14px;
  letter-spacing: 2px;
  padding: 60px 41.9px;
  font-weight: 700;
}

.films h3 {
  padding: 65px 30px 65px 34px;
  font-size: 10px;
  font-weight: 800;
  text-align: center;
}

#featuring {
  margin: 80px 20px 150px;
  padding: 0px 145px;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  color: #333;
}

#featuringFrom {
  margin: 28px 0px;
}
