* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  height: 80px;
  width: 100%;
  display: inline-block;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 6;
  border-bottom: 1px solid #d8d8d8;
}

.logo {
  float: left;
  margin: 20px 25px;
}

#search-bar {
  width: 750px;
  height: 48px;
  background-color: #f3f3f3;
  color: #d8d8d8;
  float: left;
  margin: 15px 25px;
  border-style: none;
  border-radius: 5px;
  font-size: 15px;
  padding-left: 35px;
}

#navBarList {
  list-style-type: none;
  font-size: 15px;
  margin: 15px 25px;
}

#navBarList li {
  margin: 20px 10px;
}

ul,
li {
  display: inline-block;
}

#navBarList li a {
  font-weight: normal;
  text-decoration: none;
  color: black;
}

#navBarList #LoginSignUp a {
  font-weight: bold;
}

#navBarList li a:hover {
  color: gray;
}

.socialMediaLinks {
  display: inline-block;
}

.socialMediaLinks a img {
  width: 18px;
  height: 18px;
  padding-left: 7px;
  border-radius: 15px;
  margin-top: 15px;
}

.afterFloat {
  clear: both;
}

#introSection {
  margin-top: 30px;
  top: 80px;
  width: 100%;
  margin-bottom: 20px;
}

#leftSide,
#rightSide {
  width: 50%;
  float: left;
}

#leftSide {
  background-color: black;
  color: white;
  height: 400px;
}

#btn {
  background-color: black;
  width: 250px;
  height: 60px;
  margin: 30px 160px;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid white;
  border-radius: 5px;
}

#btn a {
  text-decoration: none;
  color: white;
}

#btn:hover {
  background-color: #0f0f0f;
}

#heroBg {
  width: 100%;
  height: 400px;
  background-size: cover;
  display: inline-block;
}

#headingIntro {
  font-size: 54px;
  padding-top: 80px;
}

#paragraphIntro {
  padding-top: 10px;
}

.left {
  text-align: left;
  padding-left: 160px;
  font-family: Helvetica, sans-serif;
}

#categoriesSection {
  margin: 70px 0px 30px;
  padding: 0px 140px;
}

#categoriesSection h2,
#browseSection h2,
#featuring h2 {
  font-size: 26px;
  color: #333;
}

#categoriesSection h2 {
  margin-bottom: 15px;
}

.firstRow,
.films {
  margin: 4px 2px;
}

.firstRow,
.secondRow,
.films,
.browseBy,
.latest {
  display: inline-block;
  position: relative;
}

.firstRow img,
.secondRow img,
.latest img,
.films img {
  border-radius: 4px;
  opacity: 1.0;
  /* z-index: 1; */
}

.firstRow h3 {
  padding: 55px 50px;
  font-size: 16px;
}

.firstRow h3,
.secondRow h3,
.films h3,
.latest h3 {
  color: #fff;
  position: absolute;
  text-decoration: none;
  z-index: 2;
}

.firstRow h3 a,
.secondRow h3 a,
.latest h3 a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
}

.firstRow h3:hover a,
.secondRow h3:hover a,
.latest h3:hover a {
  color: #2d4a41;
}

.firstRow img:hover,
.secondRow img:hover,
.latest img:hover{
  opacity: 0.1;
}

.secondRow {
  margin: 0px 2px;
}

.secondRow h3 {
  padding: 100px 170px;
  font-size: 16px;
}

#browseSection,
#featuring {
  margin: 70px 0px 30px;
  padding: 0px 140px;
}

#browseSection h2 {
  margin: 10px 10px 15px;
}

.browseBy h4 a {
  font-size: 14px;
  padding: 10px 15px 20px;
  text-decoration: none;
  color: #000;
}

.browseBy h4 a:hover {
  color: #828282;
}

#loc,
#tags {
  color: #333;
}

#latest {
  color: black;
}

#browseByLatest {
  margin: 30px 0px;
}

.latest {
  margin: 6px 3px;
}

.latest h3 {
  font-size: 14px;
  letter-spacing: 2px;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0px 35px;
  font-weight: 750;
}

#featuring {
  padding: 0px 145px;
}

#featuring h2 {
  margin-bottom: 15px;
  font-size: 26px;
  color: #333;
}

.films h3 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 60px 55px 34px;
  letter-spacing: 2px;
  font-size: 10px;
  font-weight: 800;
}

#discoverSection {
  background-color: #f4f9f7;
  height: 600px;
  padding: 120px 145px;
  margin: 70px 0px 0px;
}

#discoverSection h2 {
  margin-bottom: 30px;
  font-size: 26px;
  color: #333;
}

#registeredUsers,
#numOfSounds {
  margin-top: 5px;
  margin-left: 10px;
  line-height: 45px;
}

#registeredUsers h3,
#numOfSounds h3 {
  color: #2d4a41;
  font-size: 42px;
}

#registeredUsers span,
#numOfSounds span {
  color: #828282;
  font-weight: 700;
  font-size: 16px;
}

.feature {
  display: inline-block;
  width: 22%;
  margin: 10px 15px;
}

.feature img {
  width: 43%;
}

.feature h3 {
  font-size: 22px;
  color: #333;
}

.feature p {
  color: #828282;
  font-size: 16.5px;
  margin-top: 10px;
}

#trustedBySection {
  height: 800px;
  background-color: black;
}

#trustedBy {
  background-color: black;
  width: 38%;
  height: inherit;
  float: left;
}

#trustedBy h3 {
  color: white;
  font-size: 28px;
  padding-left: 200px;
  padding-top: 260px;
}

#trustedByWho {
  width: 62%;
  float: left;
  height: inherit;
  background-image: url("./resources/home-clients-6.jpg");
  opacity: 0.7;
  background-size: 1050px 800px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

#brandsFirstRow div,
#brandsSecondRow div,
#brandsThirdRow div,
#brandsFourthRow div,
#brandsFifthRow div {
  display: inline-block;
  margin: 10px 12px;
}

#brandsFirstRow,
#brandsSecondRow,
#brandsThirdRow,
#brandsFourthRow,
#brandsFifthRow {
  margin: 30px 50px 0px 70px;
  padding: 25px 60px 0px 30px;
}

#brandsFirstRow img,
#brandsSecondRow img,
#brandsThirdRow img,
#brandsFourthRow img,
#brandsFifthRow img {
  opacity: 1;
}

#lastBeforeFooter {
  background-color: black;
  height: 250px;
  padding: 140px 600px 0px 600px;
}

#lastBeforeFooter h1 {
  font-size: 34px;
  text-align: center;
  line-height: 40px;
}

#whiteHeading {
  color: white;
}

#greenHeading a {
  color: #00ffaf;
  text-decoration: none;
}

#greenHeading a:hover {
  color: rgba(51, 239, 180, 0.5);
}

#footer {
  background-color: #000;
  height: 300px;
}

#links {
  float: left;
}

#footer .logo {
  margin-left: 150px;
  margin-right: 60px;
  float: left;
}

.linksCol {
  display: inline-block;
  padding: 0px 60px 0px 120px;
  line-height: 30px;
}
.linksCol h4 {
  color: white;
}

.linksCol a {
  display: table;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.linksCol > a:hover {
  color: gainsboro;
}

#footer .socialMediaLinks {
  float: left;
}

#copyrights {
  background-color: black;
  clear: both;
}

#copyrights p {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
