* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  height: 80px;
  width: 100%;
  display: inline-block;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #d8d8d8;
}

#logo {
  float: left;
  margin: 20px 25px;
}

#search-bar {
  width: 750px;
  height: 48px;
  background-color: #f3f3f3;
  color: #d8d8d8;
  float: left;
  margin: 15px 25px;
  border-style: none;
  border-radius: 5px;
  /* font-family: Helvetica, sans-serif; */
  font-size: 15px;
  padding-left: 35px;
}

#navBarList {
  list-style-type: none;
  /* font-family: Helvetica, sans-serif; */
  font-size: 15px;
  margin: 15px 25px;
}

#navBarList li {
  margin: 20px 10px;
}

ul,
li {
  display: inline-block;
}

li > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

li > a:hover {
  color: gray;
}

#social-media-links {
  display: inline-block;
}

#social-media-links a img {
  width: 18px;
  height: 16px;
  padding-left: 7px;
  border-radius: 15px;
  margin-top: 15px;
}

.afterFloat {
  clear: both;
}

#introSection {
  margin-top: 30px;
  top: 80px;
  width: 100%;
  margin-bottom: 20px;
}

#leftSide,
#rightSide {
  width: 50%;
  float: left;
}

#leftSide {
  background-color: black;
  color: white;
  height: 400px;
}

#btn {
  background-color: black;
  color: white;
  width: 250px;
  height: 60px;
  margin: 30px 160px;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid white;
  border-radius: 5px;
}

#heroBg {
  width: 100%;
  height: 400px;
  background-size: cover;
  display: inline-block;
}

#headingIntro {
  font-size: 54px;
  padding-top: 80px;
}

#paragraphIntro {
  padding-top: 10px;
}

.left {
  text-align: left;
  padding-left: 160px;
  font-family: Helvetica, sans-serif;
}

#categoriesSection {
  margin: 70px 20px 30px;
  padding: 0px 140px;
}

#categoriesSection h2,
#browseSection h2,
#featuring h2 {
  font-size: 26px;
  color: #333;
}

#categoriesSection h2{
  margin-bottom: 15px;
}

.firstRow,
.films {
  margin: 4px 2px;
}

.firstRow,
.secondRow,
.films,
.browseBy,
.latest {
  display: inline-block;
  position: relative;
}

.firstRow img,
.secondRow img,
.latest img,
.films img {
  border-radius: 4px;
}

.firstRow h3 {
  padding: 55px 50px;
  font-size: 16px;
}

.firstRow h3,
.secondRow h3,
.films h3,
.latest h3 {
  color: #fff;
  position: absolute;
  letter-spacing: 3px;
}

.secondRow {
  margin: 2px;
}

.secondRow h3 {
  padding: 100px 170px;
  font-size: 16px;
}

#browseSection,
#featuring {
  margin: 70px 20px 30px;
  padding: 0px 140px;
}

#browseSection h2 {
  margin: 10px 10px 15px;
}

.browseBy h4{
  font-size: 14px;
  padding: 10px 15px 20px;
}

#loc,
#tags {
  color: #333;
}

#latest {
  color: black;
}

#browseByLatest {
  margin: 30px 0px;
}

.latest {
  margin: 8px 3px;
}

.latest h3 {
  font-size: 14px;
  letter-spacing: 2px;
  padding: 60px 41.9px;
  font-weight: 750;
}

#featuring {
  padding: 0px 145px;
}

#featuring h2{
  margin-bottom: 15px;
  font-size: 26px;
  color: #333;
}

.films h3 {
  padding:  60px 55px 34px;
  letter-spacing: 2px;
  font-size: 10px;
  font-weight: 750;
}

#discoverSection {
  background-color: #f4f9f7;
  height: 600px;
  padding: 120px 145px;
  margin: 70px 20px 30px;
}

#discoverSection h2 {
  margin-bottom: 30px;
  font-size: 26px;
  color: #333;
}

#registeredUsers,
#numOfSounds {
  margin-top: 5px;
  margin-left: 10px;
  line-height: 45px;
}

#registeredUsers h3,
#numOfSounds h3 {
  color: #2d4a41;
  font-size: 42px;
}

#registeredUsers span,
#numOfSounds span {
  color: #828282;
  font-weight: 700;
  font-size: 16px;
}

.feature {
  display: inline-block;
  width: 22%;
  margin: 10px 15px;
}

.feature img {
  width: 43%;
}

.feature h3 {
  font-size: 22px;
  color: #333;
}

.feature p {
  color: #828282;
  font-size: 16.5px;
  margin-top: 10px;
}
